/* Setting background image and font */
body {
    font-family: 'Public Sans', sans-serif;
    background-image: url('../images/curtains.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    padding: 0;
}

/* Centering header and setting max-width */
header {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center; /* Center align all content within header */
}

/* Additional styles for h2 */
header h2 {
    font-size: 1em;
    font-weight: 800;
    font-style: normal;
    color: #ece4d8;
    line-height: 1;
    padding: 14px 20px 0;
    background-color: black; /* Add black background */
    border-width: 10px;
    border-image-source: url('../images/clapboard.png');
    border-image-slice: fill;
    border-image-repeat: repeat;
    margin-bottom: 20px; /* Add margin bottom for spacing */
}

.author-mentor-container {
    text-align: center; /* Center align container content */
}

.author-mentor-container h2 {
    margin-bottom: 10px; /* Add margin bottom for spacing between title and names */
}

.author-mentor-container p {
    margin: 5px; /* Add margin for spacing between names */
    display: inline-block; /* Display names inline-block */
    background-color: black; /* Add black background to names */
    padding: 10px; /* Add padding for better readability */
    border-radius: 5px; /* Add border-radius for rounded corners */
    color: #ece4d8; /* Set text color to white */
}
