a#forkme_banner {
  display: none;
}

div.shell {
  width: 640px;
}

header {
  position: relative;
  z-index: 2;
  max-width: 100%;
  padding: 20px;
  background-image: url('../images/clap_board.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

header h1,
header h2 {
  padding: 0 20px;
  margin-top: 140px; 
}

.author-mentor-container {
  text-align: center;
  padding: 0 20px;
}

.author-mentor-container p {
  font-size: 0.8em;
  margin: 20px 0; 
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

header span.ribbon-inner {
  border: 8px solid #800000;
  padding: 6px;
}

header h1 {
  font-family: 'Public Sans', sans-serif;
  font-size: 3em; 
}

body {
  background-image: url('../images/curtains.jpeg');
  background-size: cover; 
  background-position: center; 
}

@media only screen and (max-width: 640px) {
  div.shell {
    width: 100%;
  }

  header {
    max-width: 100%;
    top: 71px;
  }

  header span.left-tail,
  header span.right-tail {
    display: none;
  }

  header h1 {
    font-size: 1.5em;
  }

  .author-mentor-container p {
    font-size: 0.5em;
    margin: 1px 0 !important;
  }
}
