---
---
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');

/* STYLES */

body {
  background-image: url('../images/curtains.jpeg');
  background-size: cover;
  background-position: center;
  font-family: 'Public Sans', sans-serif;
  color: white;
  margin: 0;
  padding-top: 50px; /* Adjusted padding-top to move everything up */
}

div.shell {
  display: block;
  width: 670px;
  margin: 0 auto;
}

/* header */

header {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 670px; /* Adjusted maximum width */
  padding: 20px 40px 25px; /* Adjusted padding to match the body padding */
  background-image: url('../images/clap_board.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top; /* Adjusted background position */
}

header h1 {
  font-size: 2em;
  font-weight: 800;
  font-weight: bold;
  font-style: normal;
  color: white;
  text-align: center;
  line-height: 1;
  background-color: black;
  padding: 10px 20px;
}

header h2 {
  font-size: 0.8em; /* Adjusted font size */
  font-weight: 800;
  font-style: normal;
  color: white; 
  text-align: center;
  line-height: 1;
  padding: 14px 0;
  background-color: black;
}

/* Additional styles for h2 */
header h2 span {
  font-weight: bold;
  font-size: 1.3em; /* Adjusted font size */
  margin-bottom: 20px;
}

header h2 span:last-child {
  margin-top: 40px;
}

/* Style for author and mentor names */
.author-mentor-container {
  text-align: center;
}

.author-mentor-container p {
  display: inline-block;
  background-color: black;
  padding: 10px;
  margin: 10px;
}

/* CSS styles */
/* Buttons */
.buttons {
  text-align: center;
  margin-bottom: 20px;
}

.buttons a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.buttons a:hover {
  background-color: #333;
}

/* Table of Contents */
#main_content ul {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#main_content ul li a {
  color: white;
  text-decoration: none;
}

#main_content ul li a:hover {
  text-decoration: underline;
}

.header-level-1 {
  text-align: center;
  background-color: black; /* Add a black background */
  color: white; /* Change text color to white */
  padding: 10px; /* Add padding to create space */
  margin-bottom: 20px; /* Increase spacing between headers and content below */
  border-radius: 10px; /* Round the corners */
}

footer p {
  text-align: center; /* Center align the text */
  font-size: 0.8em; /* Set smaller font size */
  margin-top: 40px; /* Increase space above the text */
}

.footer-text {
  text-align: center;
  margin-top: 20px; /* Increase the space above */
}

.footer-text p {
  margin: 5px 0; /* Adjust the vertical spacing between paragraphs */
}

/* Transparent black box behind content */
body::before {
  content: "";
  position: fixed; /* Change position to fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
  z-index: -1; /* Place it behind other content */
}

